@import "tailwindcss";
@layer utilities {
  .scrollbar-custom {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f3f4f6;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d1d5db;
      border-radius: 9999px;
    }

    .dark &::-webkit-scrollbar-track {
      background-color: #ffffffcd;
    }

    .dark &::-webkit-scrollbar-thumb {
      background-color: #d1d5db;
    }
  }
}